@import 'manifest';

.button {
  @include basic-reset;
  @include reset-input-appearance;

  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;
  padding: 1em;

  background-color: $color-actionable;
  color: $color-actionable-text;

  transition: background-color ease 0.5s;
  border-radius: 0.25rem;
}
.button:hover {
  background-color: $color-actionable-hover;
}
.button[disabled], .button[disabled] * {
  background-color: $color-muted;
  color: #000;
  cursor: default;
}
.blockButton {
  composes: button;
  display: block;
  width: 100%;
  margin-bottom: $layout-row-height-half;
}
.subtitle {
  display: block;
  margin-top: $layout-row-height-third;

  color: $color-muted;
  font-style: italic;
  font-size: 0.75em;
}