@import 'manifest';

.button {
  @include basic-reset;
  @include reset-input-appearance;

  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;
  border: dashed 0.1rem #555;
  padding: 0.5em 1.5em;

  background-color: rgba(255, 255, 255, 0.75);
}

.blockButton {
  composes: button;
  display: block;
  width: 100%;
  max-width: 30rem;
  margin-bottom: $layout-row-height-half;
}

.subtitle {
  display: block;
  margin-top: $layout-row-height-third;

  color: $color-muted;
  font-style: italic;
  font-size: 0.75em;
}