@import 'manifest';

.background {
  background: url(https://preview.ibb.co/dWngrQ/sky_observatory.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 3rem;
}
.logo {
  composes: heading from './shared/heading.scss';
  font-size: 3rem;
}
.subheading {
  display: block;
  margin-bottom: $layout-row-height;
}