@import 'manifest';

.background {
  background: url(https://preview.ibb.co/dWngrQ/sky_observatory.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 3rem;
}
.content > * {
  position: relative;
  z-index: 2;
}
.content::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, transparent, #fff);
  z-index: 1;
}  
.logo {
  font-size: 5rem;
  font-family: Lobster Two;
  color: $color-heading;
  height: 1em;
  margin-bottom: $layout-row-height;
}
.subheading {
  display: block;
  color: #2c3e50;
  font-size: 1.25rem;
  margin-bottom: $layout-row-height;
  max-width: 20em;
}