@import 'manifest';

.background {
  background: url(https://preview.ibb.co/dWngrQ/sky_observatory.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 3rem;
}
.content > * {
  position: relative;
  z-index: 2;
}
.content::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  background: linear-gradient(20deg, transparent, #fff);
  z-index: 1;
}  
.logo {
  composes: heading from './shared/heading.scss';
  font-size: 3rem;
}
.subheading {
  display: block;
  margin-bottom: $layout-row-height;
}