@import 'fonts';
@import 'mixins';

$layout-gutter: 1rem;
$layout-row-height: 2rem;
$layout-row-height-half: $layout-row-height / 2;
$layout-row-height-third: $layout-row-height / 3;
$font-default: Avenir, Rubik;
$color-muted: #555;