@mixin basic-reset {
  margin: 0;
  padding: 0;
}
@mixin reset-input-appearance {
  appearance: none;
  border: none;
  outline: 0;
  background-color: transparent;
}
@mixin vert-center {
  display: flex;
  align-items: center;
}