@import 'manifest';

.table {
  margin-bottom: $layout-row-height;
}
.row {
  display: flex;
  align-items: center;
  height: $layout-row-height-double;
}
.quantityWrapper::before {
  content: '';
  position: relative;
  display: inline-block;
  background: url($src-icon-reward) no-repeat center;
  background-size: cover;
  height: $rewards-table-logo-size;
  width: $rewards-table-logo-size;
  margin-right: 1rem;
}
.quantityWrapper {
  position: relative;
  font-weight: bold;
  width:8rem;
  justify-content: center;
}
.label {
  flex: 5;
  font-style: italic;
}
.type {
  font-weight: bold;
}